<html>
<head>
  <title>Firebase Login</title>
  <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
  <link rel="stylesheet" href="app/view/style.css" />
</head>
<body>

  <div id="login_div" class="main-div">
    <h3>Firebase Web login Example</h3>
    <input type="email" placeholder="Email..." id="email_field" />
    <input type="password" placeholder="Password..." id="password_field" />

    <button onclick="login()">Login to Account</button>
  </div>

  <div id="user_div" class="loggedin-div">
    <h3>Welcome User</h3>
    <p id="user_para">Welcome to Firebase web login Example. You're currently logged in.</p>
    <button onclick="logout()">Logout</button>
  </div>



  <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
  <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyASxxScbJnC0OLVG-8r4v_pjGbo200jIG4",
      authDomain: "deepray-5913e.firebaseapp.com",
      databaseURL: "https://deepray-5913e.firebaseio.com",
      projectId: "deepray-5913e",
      storageBucket: "deepray-5913e.appspot.com",
      messagingSenderId: "582192131692",
      appId: "1:582192131692:web:9a231297bc38f4cf92f249",
      measurementId: "G-89JBCRTEXG"
    };
    firebase.initializeApp(config);
  </script>
  <script src="app/view/index.js"></script>

</body>
</html>
